.masonry {
    /* display: grid;  */
    /* grid-template-columns:auto auto auto auto ; */

    /* display: flex;  */
    /* flex-wrap: wrap;  */
    /* display: flex; */
    /* flex-direction: column; */
    flex-wrap: wrap;
    max-height: 1000px;

}

.masonry__image {
    width: 200px;
    margin: 0;
    padding: 0;

}

.masonry__item {
    flex: 1 0 auto;
    text-align: center;
    list-style-type: none;
    border: 1px solid;
    /* position: absolute;? */
    margin: 0;
    padding: 0;
    /* display: flex; */
}